* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppin", sans-serif;
}

/* nav-section */

.navbar {
  background-color: rgb(0, 18, 36, 1);
  color: white;
}

.nav-link:hover {
  background-color: #fff;
}

.navbar-brand {
  color: #fff;
}

.nav-link {
  color: #fff;
}

.nav-item {
  margin-right: 50px;
}

/* unknown-section */

.feature-service-para-heading-section {
  margin-right: 110px;
}

.feature-service-para-heading-section h4 {
  color: #001973; 
  transition: color 0.3s ease; 
}

.feature-service-para-heading-section p.learn-more-section {
  color: #333; 
  cursor: pointer;
}

.feature-service-para-heading-section a:hover {
  text-decoration: none;
}

.feature-service-para-heading-section:hover h4 {
  color: #007bff; 
}

.feature-service-para-heading-section:hover p.learn-more-section {
  color: #007bff;
  text-decoration: none; 
  list-style: none;
}

/* about-section */

.about-wrapper {
  margin: 40px;
  padding: 25px;
  color: #001973;
}

.about-para-box {
  margin-top: 10px;
  font-size: 17px;
  color: black;
}

.about-image-box {
  margin-top: 2px;
}

.logo-para-section {
  margin-top: 40px;
  font-size: 22px;
  font-weight: 300;
  color: black;
}

/* Home-wrapper */

.home-wrapper-section-box {
  background-image: url(img/background-home-page.png);
  background-color: #0e1d34;
}

.Home-wrapper {
  padding: 50px 0; 
}

.title-section h1 {
  margin-top: 40px;
  color: white;
}

.para-section p {
  margin-top: 20px;
  color: white;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
  margin-top: 20px;
  right: 115px;
  margin-right: -200px
  
}

.search input {
    height: 60px;
    text-indent: 10px;
    border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: blue;
}

.four-main-box-section {
  font-size: 30px;
  display: block;
  font-weight: 700;
  position: relative;
  color: white;
  margin-top: 35px;
}

.four-box-line-section {
  margin-top: -46px;
  color: blue;
  font-weight: 900;
  font-size: 24px;
}

.four-box-para-section {
  margin-top: 0px;
  font-size: 15px;
  color: white;
}

.img-section img {
  width: 70%;
  height: 70%;
  margin-top: 60px;
  margin-left: 100px;
}

.feature-service-wrapper {
  margin-top: 30px;
  padding-left: 10rem;
}

.icon {
  color: blue;
  font-size: 50px;
  transition: 0.3s;
  font-weight: 900;
  margin-left: -78px;
  margin-top: 30px;
  margin-bottom: -69px;
}


/* our-service-section */

.service-wrapper {
  margin-top: 60px;
}

.service-heading-box span{
  
  display: flex;
  justify-content: center;
	color: #0e1d340f;
	font-weight: 700;
	font-size: 55px;
	text-transform: uppercase;
  line-height: 1;
}

.service-heading-box h2 {
  display: flex;
  justify-content: center;
  margin-top: -32px;
  color: #001973;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  position: relative;
  z-index: 2;
}

.service-heading-box p {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

.card-wrapper {
	background-color: white;
	border-radius: 15px;	
}

.service-box {
	margin-top: 20px;
	padding: 20px;
	border: 2px solid rgba(245, 245, 245, 0.732);
	border-radius: 10px;
	background-color: white;
}

.service-img-box img{
	border-radius: 5px;
}

.card-txt-box h5 {
	margin-top: 20px;
	color: #001973;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card-title p{
  color: #001973;
}

/* call-to-action */

.call-to-action-wrapper {
  background-image: url(img/call-center-8022155_1280.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-color: #000000c1;
  background-blend-mode: overlay;
  background-attachment:fixed;
  color: white;
  padding: 130px;
  margin-top: 30px;
}

.call-to-action-heading {
  display: flex;
  justify-content: center;
}

.call-to-action-para span{
  display: flex;
  justify-content: center;
}

.call-to-action-btn {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top: -22px;
  margin-bottom: -50px;
}


.call-to-action-btn button{
  display: flex;
  justify-content: center;
  color: white;
  background-color: #00000000;
  margin-top: 27px;
  padding: 9px 17px;
  border: 2px solid white;
  margin-top: 45px;
}
  
.call-to-action-btn button:hover {
  background-color: #007bff;
}

/* feature-section */

.feature-wrapper {
  margin: 40px;
  padding: 25px;
  color: #001973;
}

/* Feature Heading */
.feature-heading-box span {
  display: flex;
  justify-content: center;
  color: #0e1d340f;
  font-weight: 700;
  font-size: 55px;
  text-transform: uppercase;
  line-height: 1;
}

.feature-heading-section {
  color: #001973;
}

.feature-heading-box h2 {
  display: flex;
  justify-content: center;
  margin-top: -32px;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  position: relative;
  z-index: 2;
}

.feature-heading-box p {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

/* Feature Images and Text */
.feature-image-box,
.feature-image-box-1,
.feature-image-box-2 {
  width: 60%;
  height: 60%;
  margin-left: 6rem;
  margin-top: 60px;
}

.feature-text-box {
  margin-top: 25px;
}

.feature-para-box {
  margin-top: 10px;
  font-size: 15px;
  color: black;
}

/* Logo and Value Points */
.feature-logo-para-section,
.feature-logo-para-section-1,
.feature-logo-para-section-2 {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 100;
  color: black;
}

/* Second Feature Section */
.second-feature-heading-section-1,
.second-feature-heading-section-2 {
  margin: 40px;
  padding: 25px;
  color: #001973;
}


/* PRICE-SECTION */


.price-heading-box span{
  display: flex;
  justify-content: center;
	color: #0e1d340f;
	font-weight: 700;
	font-size: 55px;
	text-transform: uppercase;
  line-height: 1;
}

.price-heading-section {
  color: #001973;
}

.price-heading-box h2 {
  display: flex;
  justify-content: center;
  margin-top: -32px;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  position: relative;
  z-index: 2;
  color: #001973;
}

.price-heading-box p {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

/* price-card-section */

.card-wrapper {
  display: flex;
  margin-top: 35px;
}

.card-wrapper {
  margin-top: 50px;
  margin-bottom: 0;
}

.main-price-box {
  border: 2px solid rgba(245, 245, 245, 0.732);
  border-radius: 10px;
  background-color:whitesmoke; 
  text-align: center;
}

.main-price-box-1 {
  border: 2px solid rgba(245, 245, 245, 0.732);
  border-radius: 10px;
  background-color:whitesmoke;
  text-align: center; 
}

.card-body {
  padding-bottom: 100px;
  background-color: #2a2c39;
  color: white;
  border-radius: 5px;
}

.card-body i{
  font-size: 50px;
}

.card-body:hover {
  background-color: black;
}

.para-section-box {
  padding: 20px;
  margin-top: 40px;
  line-height: 2rem;
}

.about-para-box h3{
  font-weight: 600;
}

.price-box sup{
  color: #007bff;
  font-size: 20px;
}
.price-box span{
  color: #007bff;
  font-size: 30px;
}
.price-box h3{
  color:grey;
  font-size: 16px;
}

.card-txt-box {
  margin-left: 0px;
}

.card-text {
  margin-top: 15px;
}

.btn-section-1 button{
  margin-top: 19px;
  margin-bottom: 30px;
  color:#007bff;
  margin-left: 22px;
  padding: 7px;
  padding-left: 9px;
  border-radius: 5px;
  border: 2px solid #007bff;
}

.btn-section-1 button:hover {
  background-color: #007bff;
  color: white; 
}


/* footer */

/* Main container */
.container-main-wrapper {
  margin-top: 20px;
}

/* Contact heading styles */
.contact-heading-box span {
  display: flex;
  justify-content: center;
  color: #0e1d340f;
  font-weight: 700;
  font-size: 55px;
  text-transform: uppercase;
  line-height: 1;
}

.contact-heading-section {
  color: #001973;
}

.contact-heading-box h2 {
  display: flex;
  justify-content: center;
  margin-top: -32px;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  color: #001973;
}

.contact-heading-box p {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  position: relative;
  z-index: 2;
}

/* Contact banner */
.contact-page-banner-wrapper {
  padding: 130px;
}

.contact-banner-header h2 {
  padding: 67px;
  color: white;
  font-size: 30px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

/* Information wrapper */
.infomation-wrapper {
  margin-top: 50px;
}

/* product-section */

.program-section a{
  color: white;
}

.program-section a:hover{
  text-decoration: none;
  color: #007bff;
}

/* usefull-link */

.section-box a{
  color: white;
}

.section-box a:hover{
  text-decoration: none;
  color: #007bff;
}

/* Contact details */
.contact-title {
  font-weight: 600;
  color: #001973;
}

.contact-title p {
  font-size: 18px;
  color: #000;
  font-weight: 500;
}

.heading-1-contact h3,
.heading-2-email h3,
.heading-3-office h3 {
  color: #001973;
  margin-left: 50px;
  font-size: 25px;
}

.logo-box a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logo-box a:hover {
  color: #007bff;
}


/* Icon and text styles */
.logo-contact-box p,
.logo-email-box p,
.logo-office-box p {
  font-size: 17px;
  margin-left: 50px;
  font-weight: 600;
  margin-top: -24px;
}

.logo-contact-box .fa-location-dot,
.logo-email-box .fa-location-dot,
.logo-office-box .fa-envelope {
  font-size: 35px;
}

/* Social media icons */
.logo-social-box {
  font-size: 25px;
}

.heading-4-social {
  color: #001973;
  margin-left: 50px;
  text-transform: uppercase;
}

.heading-4-social fa-location-dot {
  margin-left: 50px;
  font-size: 30px;
}

/* Form and button styles */
.form-box {
  padding: 20px;
  margin-top: 6px;
  margin-bottom: 20px;
  background-color: rgb(245, 245, 245);
  border: 2px solid whitesmoke;
  border-radius: 10px;
}

.btn-box {
  background-color: whitesmoke;
  border: 2px solid rgb(245, 245, 245);
  border-radius: 5px;
  padding-right: 10px;
}


/* about-us */












