html, body {
  font-family: "Poppin", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  
}

/* nav-section */

.navbar {
  background-color: rgb(0, 18, 36, 1);
  color: white;
  text-transform: capitalize;
}

.nav-link:hover {
  background-color: #fff;
  border-radius: 5px;
}

.navbar-brand {
  color: #fff;
}

.nav-link {
  color: #fff;
}

.nav-item {
  margin-right: 50px;
}

/* unknown-section */

.feature-service-log0-para-heading-section {
  margin-top: -125px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  box-shadow: 2px 2px #0000001c;
}

.feature-service-log0-para-heading-section i{
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.feature-service-log0-para-heading-section h4 {
  color: rgb(0, 0, 0); 
  transition: color 0.3s ease; 
  margin-top: 10px;
  text-align: center;
}

.feature-service-log0-para-heading-section p.learn-more-section {
  color: #333; 
  cursor: pointer;
  text-align: center;
}

.feature-service-log0-para-heading-section a:hover {
  text-decoration: none;
}

.feature-service-log0-para-heading-section:hover h4 {
  color: #001973; 
}

.feature-service-log0-para-heading-section:hover p.learn-more-section {
  color: #001973;
  text-decoration: none; 
  list-style: none;
}

/* about-section */

.about-wrapper {
  margin: 40px;
  padding: 25px;
  color: #001973;
}

.about-para-box {
  margin-top: 10px;
  font-size: 17px;
  color: black;
}

.about-image-box {
  margin-top: 2px;
}

.logo-para-section {
  margin-top: 40px;
  font-size: 22px;
  font-weight: 300;
  color: black;
}

/* Home-wrapper */

.home-wrapper-section-box {
  background-image: url(img/background-home-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
  background-color: #000000a8;
}

.Home-wrapper {
  padding: 50px 0; 
}

.title-section h1 {
  margin-top: 40px;
  color: white;
}

.para-section p {
  margin-top: 20px;
  color: white;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
  margin-top: 20px;
  right: 115px;
  margin-right: -200px
  
}

.search input {
    height: 60px;
    text-indent: 10px;
    border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: blue;
}

.four-main-box-section {
  font-size: 30px;
  display: block;
  font-weight: 700;
  position: relative;
  color: white;
  margin-top: 35px;
}

.four-box-line-section {
  margin-top: -46px;
  color: #001973;
  font-weight: 900;
  font-size: 24px;
}

.four-box-para-section {
  margin-top: 0px;
  font-size: 15px;
  color: white;
}

.img-section img {
  width: 70%;
  height: 70%;
  margin-top: 60px;
  margin-left: 100px;
}

.feature-service-wrapper {
  margin-top: 30px;

}

.icon {
  color: blue;
  font-size: 50px;
  transition: 0.3s;
  font-weight: 900;
  margin-left: -78px;
  margin-top: 30px;
  margin-bottom: -69px;
}


/* our-service-section */

.service-wrapper {
  margin-top: 60px;
}

.service-heading-box span{
  
  display: flex;
  justify-content: center;
	color: #0e1d340f;
	font-weight: 700;
	font-size: 55px;
	text-transform: uppercase;
  line-height: 1;
}

.service-heading-box h2 {
  display: flex;
  justify-content: center;
  margin-top: -32px;
  color: #001973;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  position: relative;
  z-index: 2;
}

.service-heading-box p {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

.card-wrapper {
	background-color: white;
	border-radius: 15px;	
}

.service-box {
	margin-top: 20px;
  padding: 10px;
	border-radius: 10px;
	background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.service-img-box img{
	border-radius: 5px;
}

.card-txt-box h5 {
	margin-top: 20px;
	color: #001973;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card-title p{
  color: #001973;
}

/* call-to-action */

.call-to-action-wrapper {
  background-image: url(img/call-center-8022155_1280.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-color: #000000c1;
  background-blend-mode: overlay;
  background-attachment:fixed;
  color: white;
  padding: 70px;
  margin-top: 30px;
}

.call-to-action-para p{
  margin-top: 15px;
  text-align: center;
}

.call-to-action-heading {
  display: flex;
  justify-content: center;
}


.call-to-action-btn {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top: -22px;
  margin-bottom: -50px;
}


.call-to-action-btn button{
  display: flex;
  justify-content: center;
  color: white;
  background-color: #00000000;
  margin-top: 27px;
  padding: 9px 17px;
  border: 2px solid white;
  margin-top: 45px;
}
  
.call-to-action-btn button:hover {
  background-color: #001973;
}

/* feature-section */

.feature-wrapper {
  margin: 40px;
  padding: 25px;
  color: #001973;
}

/* Feature Heading */
.feature-heading-box span {
  display: flex;
  justify-content: center;
  color: #0e1d340f;
  font-weight: 700;
  font-size: 55px;
  text-transform: uppercase;
  line-height: 1;
}

.feature-heading-section {
  color: #001973;
}

.feature-heading-box h2 {
  display: flex;
  justify-content: center;
  margin-top: -32px;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  position: relative;
  z-index: 2;
}

.feature-heading-box p {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

/* Feature Images and Text */
.feature-image-box,
.feature-image-box-1,
.feature-image-box-2 {
  width: 90%;
  height: 90%;
  margin-top: 60px;
}

.feature-text-box {
  margin-top: 80px;
}

.feature-para-box {
  font-size: 15px;
  color: black;
}

.feature-para-box p {
  margin-top: 20px;
}

/* Logo and Value Points */
.feature-logo-para-section,
.feature-logo-para-section-1,
.feature-logo-para-section-2 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 100;
  color: black;
}

/* Second Feature Section */
.second-feature-heading-section-1,
.second-feature-heading-section-2 {
  margin-top: 80px;
  color: #001973;
}


/* food-image-SECTION */

.food-image-wrapper {
  margin-top: 60px;
}

.food-image-heading-box span {
  display: flex;
  justify-content: center;
  color: #0e1d340f;
  font-weight: 700;
  font-size: 55px;
  text-transform: uppercase;
  line-height: 1;
}

.food-image-heading-section {
  color: #001973;
  margin-top: 60px;
}

.food-image-heading-box h2 {
  display: flex;
  justify-content: center;
  margin-top: -32px;
  font-size: 32px;
  color: #001973;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  position: relative;
  z-index: 2;
}

.img-food-image img {
  margin-top: 30px;
}

/* Contact-section */

.contact-wrapper {
  margin-top: 60px;
}

.contact-heading-box span {
  display: flex;
  justify-content: center;
  color: #0e1d340f;
  font-weight: 700;
  font-size: 55px;
  text-transform: uppercase;
  line-height: 1;
}

.contact-heading-section {
  color: #001973;
}

.contact-heading-box h2 {
  display: flex;
  justify-content: center;
  margin-top: -32px;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  color: #001973;
}

.contact-heading-box p {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  position: relative;
  z-index: 2;
}


.contact-info h1{
  color: #001973;
}

.contact-info p{
  margin-top: 20px;
  margin-bottom: 30px;
}

.heading-1-contact h3,
.heading-2-email h3,
.heading-3-office h3,
.heading-4-social h3{
  text-transform: capitalize; 
 margin-left: 40px;
 color: #001973;
}

.logo-contact-box p,
.logo-email-box p,
.logo-office-box p {
  font-size: 17px;
  margin-left: 40px;
  font-weight: 400;
  margin-top: -24px;
}

.logo-social-box {
  margin-left: 30px;
}

.logo-social-box i{
  font-size: 20px;
  margin-left: 10px;
}

.logo-social-box i:hover{
  color: #001973;
}

.form-box {
  padding: 20px;
  margin-top: 6px;
  margin-bottom: 20px;
  background-color: rgb(245, 245, 245);
  border: 2px solid whitesmoke;
  border-radius: 10px;
}

.btn-section-1 button{
  margin-top: 19px;
  margin-bottom: 30px;
  color: black;
  margin-left: 22px;
  padding: 7px;
  padding-left: 9px;
  border-radius: 5px;
  border: 2px solid #001973;
}

.btn-section-1 button:hover {
  background-color: #001973;
  color: white; 
}

/* Social media icons */

.social-media-logo-box {
  margin-right: 5px;
}

.social-media-logo-box i{
  margin-right: 10px;
  font-size: 20px;
}



/* footer */

.footer-wrapper {
  margin-top: 10px;
}

/* footer-product-section */

.program-section a{
  color: white;
}

.program-section a:hover{
  text-decoration: none;
  color: #0e31ae;
}

/* footer-usefull-link-section */

.section-box a{
  color: white;
}

.section-box a:hover{
  text-decoration: none;
  color: #0e31ae;
}

/* contact */


.logo-text-box span{
  color: white;
}

.logo-text-box span:hover{
  color: #001973;
  
}

.logo-text-box i{
  margin-right: 7px;
  color: white;
}

.logo-text-box a{
  color: white;
  text-decoration: none !important;  
}

.logo-text-box a:hover{
  color: #0e31ae;
}


/* about */

.about-info-wrapper {
  margin-top: 60px;
}

.info-para-box {
  margin-top: 20px;
}

.info-para-box h3{
  text-transform: capitalize;
  font-weight: 700;
  color: #001973;
}

.info-para-box p{
  margin-top: 20px;
}

.info-logo-box {
  width: 100%;
  height: 100%;
  background-image: url("./about.img/info-image.webp");
  background-repeat: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-logo-box i{
  font-size: 50px;
  color:#007bff;
}

/* brand-section */

.brand-wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 50px;
  background-color: whitesmoke;
}

.brand-img-box {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  text-align: center;
}



/* team-section */

.our-lovely-team-wrapper {
  margin-top: 60px;
}

.team-text-box {
  padding: 30px;
}

.team-text-box h2{
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  color: #001973;
}

.team-text-box p{
  margin-top: 15px;
  text-align: center;
}

.team-main-box {
  padding: 20px;
  background-color: rgba(245, 245, 245, 0.725);
  margin-bottom: 20px;
}

.team-inner-para-box {
  margin-top: 10px;
  padding: 10px;
}

.team-inner-para-box h5{
  text-transform: capitalize;  
}
.team-inner-para-box h6{
  text-transform: capitalize;
  font-weight: 400;
}

/* contact */

.contact-info-wrapper {
  margin-top: 60px;
}

.contact-info-main-box {
  border: 1px solid black;
}

.contact-info-logo-box {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

.contact-info-logo-box i{
  color: #001973;
}

.contact-info-text-box {
  margin-top: 10px;
}

.contact-info-text-box h4{
  text-transform: capitalize;
  text-align: center;
  color: #001973;
}

.contact-info-text-box p{
  text-transform: capitalize;
  text-align: center;
  color: #001973;
}

/* form-section */

.form-wrapper {
  margin-top: 40px;
  padding: 30px;
}

.form-head-box h5{
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: 800;
  color: #001973;
}

.form-control {
  margin-top: 0px;
}

#inputAddress {
  margin-top: 20px;
}

.btn-box {
  margin-top: 25px;
  padding: 10px;
  color: white;
  background-color: #007bff;
  text-transform: capitalize;
}

/* gallery */

.gallery-wrapper {
  margin-top: 60px;
  padding: 30px;
}

.gallery-heading-box{
  margin: 30px;
}

.gallery-heading-box h2{
  text-align: center;
  text-transform: capitalize;
  color: #001973;
  font-weight: 700;
}

.gallery-heading-box p{
  text-align: center;
}

.gallery-image-box img{
  padding: 8px;
}


/* media quary */


@media only screen and (max-width: 1200px) { }

 @media only screen and (max-width: 991px) { }

 @media only screen and (max-width: 767px) { 

  .feature-service-log0-para-heading-section {
    margin-top: 26px;
  }
  .form-section {
    width: 100%;
  }
  .Home-wrapper {
    text-align: center;
  }
  .search {
    margin-left: 65px;
  }
  .btn{
    margin-right: 52px;
  }
  .service-heading-box p{
    text-align: center;
  }
  .feature-para-box p{
    margin-top: 30px;
  }
  .main-price-box-1 {
    margin-top: 25px;
  }
  .price-heading-box p{
    text-align: center;
  }
  .contact-heading-box p{
    text-align: center;
  }

  .main-price-box {
    margin-top: 25px;
  }
  .form-box {
    margin-top: 35px;
  }

  /* about-page */

  .info-logo-box {
    height: 300px;
    margin-top: 20px;
  }

  /* contact page */

  .contact-info-main-box {
    margin-top: 15px;
  }
  #inputPassword4 {
    margin-top: 15px;
  }
  #inputAddress {
    margin-top: 15px;
  }
  
  }

 @media only screen and (max-width: 600px) { 

    table {
        display: block;   
        width: 100%;
        overflow-x: auto;
    }
 }

 @media only screen and (max-width: 575px){

  }